"db.sqlite3"
".idea"
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
functional_tests/__pycache__/
superlists/__pycache__/
superlists/migrations/0001_initial.py
superlists/migrations/0002_list.py
superlists/migrations/0003_item_list.py
superlists/migrations/0004_auto_20170130_1547.py
superlists/migrations/0005_auto_20170202_1550.py
superlists/migrations/0006_auto_20170202_1551.py
superlists/migrations/0007_auto_20170202_1552.py
superlists/migrations/0008_auto_20170202_1606.py
superlists/migrations/0009_auto_20170202_1606.py
superlists/migrations/0010_auto_20170202_1608.py
superlists/migrations/__pycache__/
superlists/tests/__pycache__/
tdd_test/__pycache__/
